cryptography==46.0.0
dbt-adapters==1.24.5
dbt-common==1.38.0
dbt-core-experimental-parser==2.0.0a4
dbt-core==1.12.0
dbt-extractor==0.6.0
dbt-protos==1.0.541
dbt-snowflake==1.9.0
pandas==2.3.3
requests==2.34.2
snowflake-connector-python==3.18.1
